public-f net.minecraft.client.Minecraft mainRenderTarget

#public com.mojang.blaze3d.opengl.DirectStateAccess bindFrameBufferTextures
#public com.mojang.blaze3d.opengl.DirectStateAccess blitFrameBuffers